<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col-sm col-md order-1 order-md-0">
        <app-search
          [searchValue]="searchValue"
          (search)="onSearch()"
          (searchChange)="onSearchChange($event)"
        ></app-search>
      </div>
      <div class="col-md order-0 order-md-1">
        <h2 class="text-center">Called Back List</h2>
      </div>
      <div class="col-sm col-md order-2 mt-2 mt-sm-0"></div>
    </div>
  </div>
  <div class="card-body p-0">
    <div class="row m-0 mt-1">
      <div class="col-12 col-md-6 m-0">
        <div class="row d-flex align-items-center">
          <div class="col-4">
            <label for="name"> From Date </label>
          </div>
          <div class="col-8">
            <input
              id="date-input"
              type="datetime-local"
              placeholder="From Date"
              class="form-control"
              [(ngModel)]="fromDate"
              (change)="handleFilter('from', $event.target.value)"
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 m-0">
        <div class="row d-flex align-items-center">
          <div class="col-4">
            <label for="name"> To Date </label>
          </div>
          <div class="col-8">
            <input
              id="date-input"
              type="datetime-local"
              placeholder="From Date"
              class="form-control"
              [(ngModel)]="toDate"
              (change)="handleFilter('to', $event.target.value)"
            />
            <div *ngIf="toDateValidator">
              <small class="text-danger">To date should be greater than from date</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-ag-grid
      [rowData]="calledBackCalls"
      [columnDefs]="columnDefs"
      [defaultColumnDefs]="defaultColumDefs"
      [noRowsOverlayComponentParams]="noRowsOverlayComponentParams"
      (gridReady)="onGridReady($event)"
      (floatingFilter)="onFilterColumn($event)"
      [stateName]="'calledBackState'"
      [hasEdit]="false"
      [hasDelete]="false"
    >
    </app-ag-grid>
    <app-pagination
      [pagination]="pagination"
      (pageChange)="onPageChange($event)"
      (perPageChange)="onPerPageChange($event)"
    >
    </app-pagination>
  </div>
</div>
