<div class="container">
  <div class="imag profile-card-2">
    <button aria-label="back" title="Back" size="sm" class="btn" routerLink="/">
      <span class="text-white pt-1 pr-3">
        <i class="pr-1 fa fa-arrow-left cursor-pointer" aria-hidden="true"></i>
      </span>
    </button>
    <div class="rounded-circle">
      <div class="circle">{{ userInitials }}</div>
    </div>
    <div class="profile-name text-center">{{ userName | titlecase }}</div>
    <div class="profile-username text-center">{{ user.role }}</div>
    <ng-template [ngxPermissionsOnly]="permissionList.canViewProfileParentName">
      <div class="profile-email text-center">
        {{ user.parent_name }}
      </div>
    </ng-template>
    <div class="profile-email text-center mb-4">{{ user.email }}</div>
  </div>
  <div class="text-container">
    <h1 class="mt-2">Welcome, {{ user.name }}</h1>
    <p class="text-muted">
      Manage your info and security to make MIAL work better for you. Only you can see your
      settings. MIAL keeps your data private, safe and secure.
    </p>
    <span></span>

    <div class="row">
      <div class="col-lg-6 col-sm-12 text-center">
        <div class="card" routerLink="/change_password">
          <div class="icon">
            <img alt="changepassword" class="icons md-36" src="assets/img/key.svg" />
          </div>
          <p class="title">CHANGE PASSWORD</p>
          <p class="text">Click here to change password</p>
        </div>
      </div>
    </div>
  </div>
</div>
