<form [formGroup]="addSurveyForm" (submit)="onFormSubmit()" class="mt-4" autocomplete="off">
  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col order-1 order-sm-0">
          <button
            class="btn btn-primary d-flex align-items-center"
            type="button"
            title="Back"
            routerLink="../"
          >
            <span class="min-width-18px">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </span>
            <span class="text ml-1 ml-sm-o d-none d-sm-block">Back</span>
          </button>
        </div>
        <div class="col-12 col-sm-auto order-0 order-sm-1">
          <h2 class="text-center">Create Survey Form</h2>
        </div>
        <div class="col order-2 text-right">
          <app-loading-button
            [disabled]="questionsFormControl.invalid || formControls.name.invalid"
            [buttonText]="'Create'"
            [isLoading]="isLoading"
            [title]="'Click to create survey form'"
            [loadingText]="'Adding servey form...'"
            [hideTextOnSM]="true"
            [buttonIconClass]="'fas fa-check'"
          ></app-loading-button>
        </div>
      </div>
    </div>
    <div class="alert alert-warning" *ngIf="hasValidationError">
      <p>Please fix the following</p>
      <ul>
        <li *ngFor="let validationError of validationErrors">{{ validationError }}</li>
      </ul>
    </div>
    <div class="row m-2">
      <div class="form-group col-12 col-md-6">
        <label for="name"> Form Name <span class="text-danger">*</span></label>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="form-control"
          placeholder="Enter form name"
        />
        <div *ngIf="formControls.name.touched && formControls.name.invalid">
          <small class="text-danger" *ngIf="formControls.name.errors?.required"
            >Name is required</small
          >
          <small class="text-danger" *ngIf="formControls.name.errors?.minlength"
            >Minimum length required is
            {{ formControls.name.errors.minlength.requiredLength }}</small
          >
          <small class="text-danger" *ngIf="formControls.name.errors?.maxlength"
            >Maximum length is {{ formControls.name.errors.maxlength.requiredLength }}</small
          >
        </div>
      </div>

      <div formArrayName="questions" class="col-12">
        <section
          class="container border mt-3 p-3"
          *ngFor="let formData of questionsFormControl.controls; let i = index"
        >
          <div formGroupName="{{ i }}">
            <div class="row">
              <div class="col-6">
                <h4>Question {{ i + 1 }}</h4>
              </div>
              <div *ngIf="i > 1" class="col-6 text-right">
                <button
                  *ngIf="questionsFormControl.controls.length > 3"
                  type="button"
                  class="btn btn-danger btn-sm"
                  (click)="removeQuestion(i)"
                >
                  Remove
                </button>
                <button
                  *ngIf="i == questionsFormControl.controls.length - 1"
                  type="button"
                  class="btn btn-primary btn-sm"
                  [disabled]="questionsFormControl.invalid || formControls.name.invalid"
                  (click)="addQuestion()"
                >
                  Add question
                </button>
              </div>
            </div>
            <div *ngIf="i < 2">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label>Question</label>
                    <textarea
                      type="text"
                      class="form-control"
                      formControlName="question"
                      readonly
                      placeholder="Enter your question here"
                    ></textarea>
                    <div
                      *ngIf="
                        formData.controls.question.touched && formData.controls.question.invalid
                      "
                    >
                      <small class="text-danger">Question is required</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label>Type</label>
                    <ng-select
                      [items]="types"
                      [clearable]="false"
                      formControlName="type"
                      [readonly]="true"
                      [searchable]="true"
                      placeholder="Select Answer Type"
                    >
                    </ng-select>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label>{{ formData.value.type }}</label>
                    <ng-select [clearable]="false" formControlName="ratings" [readonly]="true">
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="i > 1">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label>Question</label>
                    <textarea
                      type="text"
                      class="form-control"
                      formControlName="question"
                      placeholder="Enter your question here"
                    ></textarea>
                    <div
                      *ngIf="
                        formData.controls.question.touched && formData.controls.question.invalid
                      "
                    >
                      <small class="text-danger">Question is required</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label>Type</label>
                    <ng-select
                      [items]="types"
                      [clearable]="false"
                      formControlName="type"
                      [searchable]="true"
                      placeholder="Select Answer Type"
                      (change)="typeChanged(i)"
                    >
                    </ng-select>
                  </div>
                </div>
                <div *ngIf="formData.value.type && formData.value.type === 'Options'" class="col-6">
                  <div class="form-group">
                    <label>Add options</label>
                    <div class="d-flex gap-1">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Type and add options here"
                        formControlName="optionText"
                      />
                      <div class="text-right">
                        <button
                          type="button"
                          class="btn btn-primary btn-sm"
                          [disabled]="
                            !questionsFormControl.value[i].optionText ||
                            !questionsFormControl.value[i].optionText.trim()
                          "
                          (click)="addOption(i)"
                        >
                          <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="questionsFormControl.value[i].type === 'Options'" class="col-6">
                  <div class="form-group">
                    <label>Options List <span class="text-danger">*</span></label>
                    <div
                      style="display: grid; grid-template-columns: 30px 1fr 1fr"
                      class="mt-1"
                      *ngFor="let opt of questionsFormControl.value[i].option; let oInd = index"
                    >
                      <div>
                        <button
                          type="button"
                          class="btn btn-danger btn-sm"
                          (click)="removeOption(i, oInd)"
                        >
                          x
                        </button>
                      </div>
                      <div class="d-flex flex-wrap align-items-end">
                        <label class="mb-0">{{ opt }} </label>
                      </div>
                      <div>
                        <button
                          type="button"
                          class="btn btn-primary btn-sm"
                          [disabled]="!questionsFormControl.value[i].option"
                          (click)="addDependent(i, opt)"
                        >
                          Add Question
                          <i class="fa fa-plus ml-1" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>

                    <div
                      *ngIf="formData.controls.option.touched && formData.controls.option.invalid"
                    >
                      <small class="text-danger">Options required</small>
                    </div>
                  </div>
                </div>

                <div *ngIf="questionsFormControl.value[i].type === 'Ratings'" class="col-6">
                  <div class="form-group">
                    <label>Rating Upto <span class="text-danger">*</span></label>
                    <ng-select
                      [items]="ratings"
                      [clearable]="false"
                      [searchable]="false"
                      formControlName="ratings"
                      placeholder="Select maximum rating"
                    >
                    </ng-select>
                    <div
                      *ngIf="formData.controls.ratings.touched && formData.controls.ratings.invalid"
                    >
                      <small class="text-danger">Max rating value required</small>
                    </div>
                  </div>
                </div>
                <div *ngIf="questionsFormControl.value[i].type === 'Multi Select'" class="col-6">
                  <div class="form-group">
                    <label>Add multi select options</label>
                    <div class="d-flex gap-1">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Type and add options here"
                        formControlName="multiOptionText"
                      />
                      <div class="text-right">
                        <button
                          type="button"
                          class="btn btn-primary btn-sm"
                          [disabled]="
                            !questionsFormControl.value[i].multiOptionText ||
                            !questionsFormControl.value[i].multiOptionText.trim()
                          "
                          (click)="addMultiSelectOption(i)"
                        >
                          <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="questionsFormControl.value[i].type === 'Multi Select'" class="col-6">
                  <div class="form-group">
                    <label>Options List <span class="text-danger">*</span></label>
                    <div
                      style="display: grid; grid-template-columns: 30px 1fr 1fr"
                      class="mt-1"
                      *ngFor="let mOpt of formData.value.multi_select; let mInd = index"
                    >
                      <div>
                        <button
                          type="button"
                          class="btn btn-danger btn-sm"
                          (click)="removeMultiOption(i, mInd)"
                        >
                          x
                        </button>
                      </div>
                      <div class="d-flex flex-wrap align-items-end">
                        <label class="mb-0">{{ mOpt }} </label>
                      </div>
                      <div>
                        <button
                          type="button"
                          class="btn btn-primary btn-sm"
                          [disabled]="!formData.value.multi_select"
                          (click)="addDependent(i, mOpt)"
                        >
                          Add Question
                          <i class="fa fa-plus ml-1" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>

                    <div
                      *ngIf="
                        formData.controls.multi_select.touched &&
                        formData.controls.multi_select.invalid
                      "
                    >
                      <small class="text-danger">Options required</small>
                    </div>
                    <!--
                    <ng-select
                      [items]="questionsFormControl.value[i].multi_select"
                      [clearable]="false"
                      [searchable]="false"
                      formControlName="multi_select"
                      [multiple]="true"
                      [isOpen]="false"
                    >
                    </ng-select>
                    <div
                      *ngIf="
                        formData.controls.multi_select.touched &&
                        formData.controls.multi_select.invalid
                      "
                    >
                      <small class="text-danger">Options required</small>
                    </div> -->
                  </div>
                </div>
                <div
                  *ngIf="
                    formData.value.type === 'Options' || formData.value.type === 'Multi Select'
                  "
                  class="col-12"
                >
                  <div formArrayName="dependent_questions" class="col-12">
                    <div
                      class="container border mt-3 p-3"
                      *ngFor="let dQuestion of getDependentQuestions(formData); let dInd = index"
                    >
                      <div formGroupName="{{ dInd }}">
                        <div class="row">
                          <div class="col-6">
                            <h4>Question {{ i + 1 }}.{{ dInd + 1 }}</h4>
                          </div>
                          <div class="col-6 text-right">
                            <button
                              type="button"
                              class="btn btn-danger btn-sm"
                              (click)="removeDependentQuestion(i, dInd)"
                            >
                              Remove
                            </button>
                          </div>
                        </div>

                        <div class="form-group">
                          <label
                            >Question for
                            <span class="font-weight-bold">
                              {{ dQuestion.value.option }}
                            </span>
                          </label>
                          <textarea
                            type="text"
                            class="form-control"
                            formControlName="question"
                            placeholder="Enter your question here"
                          ></textarea>
                          <div
                            *ngIf="
                              dQuestion.controls.question.touched &&
                              dQuestion.controls.question.invalid
                            "
                          >
                            <small class="text-danger">Question is required</small>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <label>Type</label>
                              <ng-select
                                [clearable]="false"
                                [readonly]="true"
                                [searchable]="true"
                                formControlName="type"
                                placeholder="Select Answer Type"
                              >
                              </ng-select>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <label>Rating Upto</label>
                              <ng-select
                                [clearable]="false"
                                [readonly]="true"
                                [searchable]="true"
                                formControlName="ratings"
                                placeholder="Select Answer Type"
                              >
                              </ng-select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</form>
