<div class="modal-header">
  <h4 class="modal-title pull-left">Send Feedback Email</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="tagFeedbackCallForm" (submit)="onFormSubmit()" class="mt-3" autocomplete="off">
    <div class="card">
      <div class="alert alert-warning" *ngIf="hasValidationError">
        <p>Please fix the following</p>
        <ul>
          <li *ngFor="let validationError of validationErrors">{{ validationError }}</li>
        </ul>
      </div>
      <div class="row card-body">
        <div class="form-group col-12 col-md-6">
          <label for="responded">Responded</label>
          <textarea
            type="text"
            id="responded"
            formControlName="responded"
            class="form-control"
          ></textarea>
        </div>
        <div class="form-group col-12 col-md-6 d-flex align-items-center">
          <label class="m-0 p-0">
            <input type="checkbox" formControlName="mailTofeedback" value="true" />
            <span class="ml-2">Mail To CCC</span>
          </label>
        </div>
        <div class="form-group col-12 col-md-6">
          <label for="flightInfo">Flight Info <span class="text-danger">*</span></label>
          <input
            type="text"
            id="name"
            formControlName="flightInfo"
            class="form-control"
            placeholder="Enter flightInfo"
          />
          <div *ngIf="formControls.flightInfo.touched && formControls.flightInfo.invalid">
            <small class="text-danger" *ngIf="formControls.flightInfo.errors?.required"
              >Flight Information is required</small
            >
            <small class="text-danger" *ngIf="formControls.flightInfo.errors?.minlength"
              >Minimum length required is
              {{ formControls.flightInfo.errors.minlength.requiredLength }}</small
            >
            <small class="text-danger" *ngIf="formControls.flightInfo.errors?.maxlength"
              >Maximum length is
              {{ formControls.flightInfo.errors.maxlength.requiredLength }}</small
            >
          </div>
        </div>
        <div class="form-group col-12 col-md-6">
          <label for="doj">Date Of Journey<span class="text-danger">*</span></label>
          <input
            type="datetime-local"
            id="doj"
            formControlName="dateOfJourney"
            class="form-control"
          />
          <div *ngIf="formControls.dateOfJourney.touched && formControls.dateOfJourney.invalid">
            <small class="text-danger" *ngIf="formControls.dateOfJourney.errors?.required"
              >Date of journey is required</small
            >
          </div>
        </div>
        <div class="form-group col-12 col-md-6">
          <label for="email"
            >Email Id <small>(separate email Ids by ";")</small> <span class="text-danger">*</span>
          </label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Enter email"
            formControlName="email"
          />
          <div *ngIf="formControls.email.touched && formControls.email.invalid">
            <small class="text-danger" *ngIf="formControls.email.errors?.required"
              >Email is required</small
            >
            <small class="text-danger" *ngIf="formControls.email.errors?.pattern"
              >Enter a valid email</small
            >
          </div>
        </div>
        <div class="form-group col-12 col-md-6">
          <label for="callerName">Caller Name <span class="text-danger">*</span></label>
          <input
            type="text"
            id="name"
            formControlName="callerName"
            class="form-control"
            placeholder="Enter Caller Name"
          />
          <div *ngIf="formControls.callerName.touched && formControls.callerName.invalid">
            <small class="text-danger" *ngIf="formControls.callerName.errors?.required"
              >Caller Name is required</small
            >
          </div>
        </div>
        <div class="form-group col-12 col-md-6">
          <label for="subject">Subject <span class="text-danger">*</span></label>
          <input
            type="text"
            id="name"
            formControlName="subject"
            class="form-control"
            placeholder="Enter subject"
          />
          <div *ngIf="formControls.subject.touched && formControls.subject.invalid">
            <small class="text-danger" *ngIf="formControls.subject.errors?.required"
              >Subject is required</small
            >
            <small class="text-danger" *ngIf="formControls.subject.errors?.minlength"
              >Minimum length required is
              {{ formControls.subject.errors.minlength.requiredLength }}</small
            >
            <small class="text-danger" *ngIf="formControls.subject.errors?.maxlength"
              >Maximum length is {{ formControls.subject.errors.maxlength.requiredLength }}</small
            >
          </div>
        </div>
        <div class="form-group col-12 col-md-6">
          <label for="Feedback"> Feedback <span class="text-danger">*</span> </label>
          <textarea
            type="text"
            id="Feedback"
            formControlName="feedback"
            class="form-control"
            placeholder="Enter Feedback here"
          ></textarea>
          <div *ngIf="formControls.feedback.touched && formControls.feedback.invalid">
            <small class="text-danger" *ngIf="formControls.feedback.errors?.required"
              >Feedback required</small
            >
            <small class="text-danger" *ngIf="formControls.feedback.errors?.minlength"
              >Minimum length required is
              {{ formControls.feedback.errors.minlength.requiredLength }}</small
            >
            <small class="text-danger" *ngIf="formControls.feedback.errors?.maxlength"
              >Maximum length is {{ formControls.feedback.errors.maxlength.requiredLength }}</small
            >
          </div>
        </div>

        <div class="form-group col-12 d-flex align-items-end justify-content-end">
          <button type="button" class="btn btn-dark mr-1" (click)="modalRef.hide()">Close</button>
          <app-loading-button
            [disabled]="tagFeedbackCallForm.invalid"
            [buttonText]="'Send Email'"
            [title]="'Click to send email'"
            [isLoading]="isLoading"
            [loadingText]="'Sending email...'"
            [hideTextOnSM]="true"
            [buttonIconClass]="'fas fa-check'"
          ></app-loading-button>
        </div>
      </div>
    </div>
  </form>
</div>
