<form [formGroup]="addManualCallTagForm" (submit)="onFormSubmit()" class="mt-4" autocomplete="off">
  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col order-1 order-sm-0">
          <button
            class="btn btn-primary d-flex align-items-center"
            type="button"
            title="Back"
            [disabled]="isLoading"
            routerLink="../"
          >
            <span class="min-width-18px">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </span>
            <span class="text ml-1 ml-sm-o d-none d-sm-block">Back</span>
          </button>
        </div>
        <div class="col-12 col-sm-auto order-0 order-sm-1">
          <h2 class="text-center">Add Manual Call Tag</h2>
        </div>
        <div class="col order-2 text-right">
          <app-loading-button
            [disabled]="addManualCallTagForm.invalid || endDateValidator || initDateValidator"
            [buttonText]="'Tag manual call'"
            [title]="'Click to tag manual call'"
            [isLoading]="isLoading"
            [loadingText]="'Tagging...'"
            [hideTextOnSM]="true"
            [buttonIconClass]="'fas fa-check'"
          ></app-loading-button>
        </div>
      </div>
    </div>
    <div class="alert alert-warning" *ngIf="hasValidationError">
      <p>Please fix the following</p>
      <ul>
        <li *ngFor="let validationError of validationErrors">{{ validationError }}</li>
      </ul>
    </div>
    <div class="row card-body">
      <div class="form-group col-12 col-md-3">
        <label for="callerid"> Caller Id <span class="text-danger">*</span> </label>
        <input
          type="text"
          id="callerid"
          formControlName="callerid"
          class="form-control"
          placeholder="Enter Caller Id"
        />
        <div *ngIf="formControls.callerid.touched && formControls.callerid.invalid">
          <small class="text-danger">Enter a valid caller id</small>
        </div>
      </div>
      <div class="form-group col-12 col-md-3">
        <label for="id_queue_call_entry"> Language<span class="text-danger">*</span></label>
        <ng-select
          [items]="languages"
          [clearable]="true"
          [searchable]="true"
          bindValue="id"
          bindLabel="description"
          placeholder="Select Language"
          formControlName="id_queue_call_entry"
          notFoundText="No terminals found"
        >
        </ng-select>
        <div
          *ngIf="
            formControls.id_queue_call_entry.touched && formControls.id_queue_call_entry.invalid
          "
        >
          <small class="text-danger">Enter a valid call entry id</small>
        </div>
      </div>
      <div class="form-group col-12 col-md-3">
        <label for="caller_name">Caller Name </label>
        <input
          type="text"
          id="caller_name"
          formControlName="caller_name"
          class="form-control"
          placeholder="Enter Caller Name"
        />
      </div>
      <div class="form-group col-12 col-md-3">
        <label for="caller_email_id">Caller Email Id </label>
        <input
          type="caller_email_id"
          class="form-control"
          id="caller_email_id"
          placeholder="Enter Caller Email"
          formControlName="caller_email_id"
        />
        <div *ngIf="formControls.caller_email_id.touched && formControls.caller_email_id.invalid">
          <small class="text-danger" *ngIf="formControls.caller_email_id.errors?.pattern"
            >Enter a valid caller email id</small
          >
        </div>
      </div>
      <div class="form-group col-12 col-md-3">
        <label for="terminal_id">Terminal</label>
        <ng-select
          [items]="terminals"
          [clearable]="true"
          [searchable]="true"
          bindValue="id"
          bindLabel="name"
          placeholder="Select Terminal"
          formControlName="terminal_id"
          notFoundText="No terminals found"
        >
        </ng-select>
      </div>
      <div class="form-group col-12 col-md-3">
        <label for="category_id">Category <span class="text-danger">*</span></label>
        <ng-select
          [items]="categories"
          [clearable]="true"
          [searchable]="true"
          bindValue="id"
          bindLabel="name"
          (change)="getSubCategoriesNamesIds()"
          placeholder="Select Category"
          formControlName="category_id"
          notFoundText="No categories found"
        >
        </ng-select>
        <div *ngIf="formControls.category_id.touched && formControls.category_id.invalid">
          <small class="text-danger" *ngIf="formControls.category_id.errors?.required"
            >Category is required</small
          >
        </div>
      </div>
      <div class="form-group col-12 col-md-3">
        <label for="sub_category_id">Sub Category <span class="text-danger">*</span></label>
        <ng-select
          [items]="subCategories"
          [clearable]="true"
          [searchable]="true"
          bindValue="id"
          bindLabel="name"
          placeholder="Select Sub category"
          formControlName="sub_category_id"
          notFoundText="No sub categories found"
        >
        </ng-select>
        <div *ngIf="formControls.sub_category_id.touched && formControls.sub_category_id.invalid">
          <small class="text-danger" *ngIf="formControls.sub_category_id.errors?.required"
            >Sub category is required</small
          >
        </div>
      </div>

      <div class="form-group col-12 col-md-3">
        <label for="mode_of_call">Mode Of Call<span class="text-danger">*</span></label>
        <ng-select
          [items]="modeOfCall"
          [clearable]="true"
          [searchable]="true"
          bindValue="id"
          bindLabel="id"
          placeholder="Select mode of call"
          formControlName="mode_of_call"
          notFoundText="No terminals found"
        >
        </ng-select>
        <div *ngIf="formControls.mode_of_call.touched && formControls.mode_of_call.invalid">
          <small class="text-danger">Mode of call is required</small>
        </div>
      </div>
      <div class="form-group col-12 col-md-3">
        <label for="question"> Question <span class="text-danger">*</span></label>
        <textarea
          type="text"
          id="question"
          formControlName="question"
          class="form-control"
          placeholder="Enter question here"
        ></textarea>
        <div *ngIf="formControls.question.touched && formControls.question.invalid">
          <small class="text-danger" *ngIf="formControls.question.errors?.required"
            >Question is required</small
          >
          <small class="text-danger" *ngIf="formControls.question.errors?.minlength"
            >Minimum length required is
            {{ formControls.question.errors.minlength.requiredLength }}</small
          >
          <small class="text-danger" *ngIf="formControls.question.errors?.maxlength"
            >Maximum length is {{ formControls.question.errors.maxlength.requiredLength }}</small
          >
        </div>
      </div>
      <div class="form-group col-12 col-md-3">
        <label for="answer"> Answer <span class="text-danger">*</span></label>
        <textarea
          type="text"
          id="answer"
          formControlName="answer"
          class="form-control"
          placeholder="Enter answer here"
        ></textarea>
        <div *ngIf="formControls.answer.touched && formControls.answer.invalid">
          <small class="text-danger" *ngIf="formControls.answer.errors?.required"
            >Answer is required</small
          >
          <small class="text-danger" *ngIf="formControls.answer.errors?.minlength"
            >Minimum length required is
            {{ formControls.answer.errors.minlength.requiredLength }}</small
          >
          <small class="text-danger" *ngIf="formControls.answer.errors?.maxlength"
            >Maximum length is {{ formControls.answer.errors.maxlength.requiredLength }}</small
          >
        </div>
      </div>
      <div class="form-group col-12 col-md-3">
        <label for="datetime_entry_queue">
          Call Received Date Time<span class="text-danger">*</span></label
        >
        <input
          type="datetime-local"
          id="datetime_entry_queue"
          formControlName="datetime_entry_queue"
          class="form-control"
          (change)="handleDate()"
        />
        <div
          *ngIf="
            formControls.datetime_entry_queue.touched && formControls.datetime_entry_queue.invalid
          "
        >
          <small class="text-danger">Select a valid call received date time</small>
        </div>
      </div>
      <div class="form-group col-12 col-md-3">
        <label for="datetime_init">
          Call Attended Date Time <span class="text-danger">*</span></label
        >
        <input
          type="datetime-local"
          id="datetime_init"
          formControlName="datetime_init"
          class="form-control"
          (change)="handleDate()"
        />
        <div *ngIf="formControls.datetime_init.touched && formControls.datetime_init.invalid">
          <small class="text-danger">Select a valid call attended date time</small>
        </div>
        <div *ngIf="initDateValidator">
          <small class="text-danger"
            >Attended date time should be greater than call received date time</small
          >
        </div>
      </div>
      <div class="form-group col-12 col-md-3">
        <label for="datetime_end"> Call End Date Time<span class="text-danger">*</span></label>
        <input
          type="datetime-local"
          id="datetime_end"
          formControlName="datetime_end"
          class="form-control"
          (change)="handleDate()"
        />
        <div *ngIf="formControls.datetime_end.touched && formControls.datetime_end.invalid">
          <small class="text-danger">Select a valid call end date time </small>
        </div>
        <div *ngIf="endDateValidator">
          <small class="text-danger"
            >End date and time should be greater than attended date and time</small
          >
        </div>
      </div>
    </div>
  </div>
</form>
