@use 'colors';
a.active {
  color: colors.$white !important;
  background: colors.$primary !important;
  border-color: colors.$white !important;
  font-weight: bold;
}

a.nav-link {
  font-weight: bold;
}

label {
  margin: 0;
  font-weight: bold;
}
