<div class="card mt-4">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col-sm col-md order-1 order-md-0">
        <app-search
          [searchValue]="searchValue"
          (search)="onSearch()"
          (searchChange)="onSearchChange($event)"
        ></app-search>
      </div>
      <div class="col-md order-0 order-md-1">
        <h2 class="text-center">Flight Status</h2>
      </div>
      <div class="col-sm col-md order-2 mt-2 mt-sm-0">
        <button
          class="btn btn-primary btn-ripple float-right rounded-pill d-flex align-items-center"
          title="Click to refresh flight status"
          (click)="onRefresh()"
        >
          <i class="cil-reload mb-1" aria-hidden="true"></i>
          <span class="d-none d-sm-block ml-1">Refresh</span>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body p-0">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a
          (click)="handleFlightType('domestic')"
          class="nav-link"
          role="tab"
          aria-controls="one"
          data-toggle="tab"
          [class.active]="flightType === 'domestic'"
          >Domestic</a
        >
      </li>
      <li class="nav-item">
        <a
          (click)="handleFlightType('international')"
          class="nav-link"
          role="tab"
          aria-controls="two"
          data-toggle="tab"
          [class.active]="flightType === 'international'"
          >International</a
        >
      </li>
    </ul>
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a
          (click)="handleScheduleType('arrival')"
          class="nav-link"
          role="tab"
          aria-controls="one"
          data-toggle="tab"
          [class.active]="scheduleType === 'arrival'"
          >Arrival</a
        >
      </li>
      <li class="nav-item">
        <a
          (click)="handleScheduleType('departure')"
          class="nav-link"
          role="tab"
          aria-controls="two"
          data-toggle="tab"
          [class.active]="scheduleType === 'departure'"
          >Departure</a
        >
      </li>
    </ul>
    <div class="row m-0 mt-1">
      <div class="col-12 col-md-4 m-0">
        <div class="row d-flex align-items-center">
          <div class="col-4">
            <label for="name"> From Date </label>
          </div>
          <div class="col-8">
            <input
              id="date-input"
              type="date"
              placeholder="From Date"
              class="form-control"
              [(ngModel)]="fromDate"
              (change)="handleFilter('from', $event.target.value)"
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 m-0">
        <div class="row d-flex align-items-center">
          <div class="col-4">
            <label for="name"> Airline Name </label>
          </div>
          <div class="col-8">
            <input
              type="text"
              id="name"
              [(ngModel)]="airline"
              (input)="handleFilter('flight_name', $event.target.value)"
              class="form-control d-inline"
              placeholder="Search Airline Name"
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 m-0">
        <div class="row d-flex align-items-center">
          <div class="col-4">
            <label for="name"> Origin </label>
          </div>
          <div class="col-8">
            <input
              type="text"
              id="name"
              [(ngModel)]="origin"
              (input)="handleFilter('departure_airport_name', $event.target.value)"
              class="form-control d-inline"
              placeholder="Search Origin"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0 mt-1">
      <div class="col-12 col-md-4 m-0">
        <div class="row d-flex align-items-center">
          <div class="col-4">
            <label for="name"> To Date </label>
          </div>
          <div class="col-8">
            <input
              id="date-input"
              type="date"
              placeholder="From Date"
              class="form-control"
              [(ngModel)]="toDate"
              (change)="handleFilter('to', $event.target.value)"
            />
            <div *ngIf="toDateValidator">
              <small class="text-danger">To date should be greater than from date</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 m-0">
        <div class="row d-flex align-items-center">
          <div class="col-4">
            <label for="name"> Flight No </label>
          </div>
          <div class="col-8">
            <input
              type="text"
              id="name"
              [(ngModel)]="flightNo"
              (input)="handleFilter('flight_number', $event.target.value)"
              class="form-control d-inline"
              placeholder="Search Flight Number"
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 m-0">
        <div class="row d-flex align-items-center">
          <div class="col-4">
            <label for="name"> Destination </label>
          </div>
          <div class="col-8">
            <input
              type="text"
              id="name"
              [(ngModel)]="destination"
              (input)="handleFilter('arrival_airport_name', $event.target.value)"
              class="form-control d-inline"
              placeholder="Search Destination"
            />
          </div>
        </div>
      </div>
    </div>
    <app-ag-grid
      [rowData]="flightStatus"
      [columnDefs]="columnDefs"
      [defaultColumnDefs]="defaultColumDefs"
      [noRowsOverlayComponentParams]="noRowsOverlayComponentParams"
      [canView]="permissionList.canViewCategory"
      [hasInvite]="false"
      [hasDetails]="false"
      [hasEdit]="false"
      [hasDelete]="false"
      [hasDetails]="true"
      (view)="onView($event)"
      (gridReady)="onGridReady($event)"
      (floatingFilter)="onFilterColumn($event)"
      [stateName]="'flightStatusState'"
      (sortChanged)="onSortChange($event)"
      (doubleClick)="onDoubleClick($event)"
    >
    </app-ag-grid>
    <app-pagination
      [pagination]="pagination"
      (pageChange)="onPageChange($event)"
      (perPageChange)="onPerPageChange($event)"
    >
    </app-pagination>
  </div>
</div>
