<form
  [formGroup]="viewSurveyForm"
  *ngIf="surveyFormDetails"
  (submit)="onFormSubmit()"
  class="mt-4"
  autocomplete="off"
>
  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col order-1 order-sm-0">
          <button
            class="btn btn-primary d-flex align-items-center"
            type="button"
            title="Back"
            routerLink="../"
          >
            <span class="min-width-18px">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </span>
            <span class="text ml-1 ml-sm-o d-none d-sm-block">Back</span>
          </button>
        </div>
        <div class="col-12 col-sm-auto order-0 order-sm-1">
          <h2 class="text-center">{{ surveyFormDetails.name }}</h2>
        </div>
        <div class="col order-2 text-right"></div>
      </div>
    </div>

    <div class="row m-2">
      <div formArrayName="questions" class="col-12 border">
        <div
          class="container m-0 p-0 mt-3"
          *ngFor="let formData of questionsFormControl.controls; let i = index"
        >
          <div formGroupName="{{ i }}">
            <div class="row">
              <div class="col-12">
                <h5>{{ i + 1 }}. {{ formData.value.question }}</h5>
                <ngb-rating
                  *ngIf="formData.value.type === 'Ratings'"
                  style="color: darkorange; font-size: 25px"
                  [max]="formData.value.ratings"
                ></ngb-rating>
                <div *ngIf="formData.value.type === 'Multi Select'">
                  <div
                    *ngFor="let options of formData.value.multi_select; let ind = index"
                    class="form-group form-check"
                  >
                    <label class="m-0 p-0">
                      <input
                        type="checkbox"
                        value="{{ options.value }}"
                        (change)="checked(i, ind)"
                        [disabled]="options.isDisabled"
                      />
                      <span class="ml-2">{{ options.value }}</span>
                    </label>
                    <div *ngIf="formData.value.dependent_questions">
                      <div formArrayName="dependent_questions">
                        <div
                          class="container m-0 p-0 mt-2 ml-2"
                          *ngFor="
                            let dFormData of getDependentQuestions(formData);
                            let dind = index
                          "
                        >
                          <div formGroupName="{{ dind }}">
                            <div
                              *ngIf="
                                dFormData.value.isVisible &&
                                dFormData.value.option === options.value
                              "
                            >
                              <h6>
                                {{ dFormData.value.question }}

                                <span>
                                  <ngb-rating
                                    style="color: darkorange; font-size: 25px"
                                    [max]="dFormData.value.ratings"
                                  ></ngb-rating>
                                </span>
                              </h6>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="formData.value.type === 'Options'">
                  <div
                    class="ml-4 mb-2"
                    *ngFor="let option of formData.value.options; let x = index"
                  >
                    <label class="m-0">
                      <input
                        type="radio"
                        (change)="optionChange(i, x)"
                        value="{{ option }}"
                        formControlName="optionText"
                      />
                      <span class="ml-1">{{ option }}</span>
                    </label>
                    <div *ngIf="formData.value.dependent_questions">
                      <div formArrayName="dependent_questions">
                        <div
                          class="container m-0 p-0 ml-2"
                          *ngFor="
                            let dFormData of getDependentQuestions(formData);
                            let dind = index
                          "
                        >
                          <div formGroupName="{{ dind }}">
                            <div
                              *ngIf="dFormData.value.isVisible && dFormData.value.option === option"
                            >
                              <h6>
                                {{ dFormData.value.question }}

                                <span>
                                  <ngb-rating
                                    style="color: darkorange; font-size: 25px"
                                    [max]="dFormData.value.ratings"
                                  ></ngb-rating>
                                </span>
                              </h6>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mb-2" *ngIf="formData.value.type === 'Free Text'">
                  <textarea
                    type="text"
                    class="form-control"
                    placeholder="Enter your answer here"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
