<form [formGroup]="editInfoForm" (submit)="onFormSubmit()" class="mt-4" autocomplete="off">
  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col-sm col-md order-1 order-md-0">
          <button
            class="btn btn-primary d-flex align-items-center"
            type="button"
            title="Back"
            [disabled]="isLoading"
            routerLink="../../"
          >
            <span class="min-width-18px">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </span>
            <span class="text ml-1 ml-sm-o d-none d-sm-block">Back</span>
          </button>
        </div>
        <div class="col-md order-0 order-md-1">
          <h2 class="text-center">Update Terminal Information</h2>
        </div>
        <div class="col-sm col-md order-2 mt-2 mt-sm-0 text-right">
          <app-loading-button
            [disabled]="editInfoForm.invalid || phNoValidator"
            [buttonText]="'Update information'"
            [title]="'Click to update information'"
            [isLoading]="isLoading"
            [loadingText]="'Updating information...'"
            [hideTextOnSM]="true"
            [buttonIconClass]="'fas fa-check'"
          ></app-loading-button>
        </div>
      </div>
    </div>
    <div class="alert alert-warning" *ngIf="hasValidationError">
      <p>Please fix the following</p>
      <ul>
        <li *ngFor="let validationError of validationErrors">{{ validationError }}</li>
      </ul>
    </div>
    <div
      *ngIf="!hasInfo"
      class="d-flex align-items-center justify-content-center mt-4 h-100 alert alert-danger"
    >
      <h5><i class="fa fa-meh" aria-hidden="true"></i> Oops! no information found.</h5>
    </div>
    <div *ngIf="hasInfo" class="row card-body">
      <div class="form-group col-12 col-md-6">
        <label for="terminal">Terminal <span class="text-danger">*</span></label>
        <ng-select
          [items]="terminals"
          [clearable]="false"
          [searchable]="true"
          bindValue="id"
          bindLabel="name"
          placeholder="Select Terminal"
          formControlName="terminal"
          notFoundText="No terminals found"
        >
        </ng-select>
        <div *ngIf="formControls.terminal.touched && formControls.terminal.invalid">
          <small class="text-danger" *ngIf="formControls.terminal.errors?.required"
            >Terminal is required</small
          >
        </div>
      </div>
      <div class="form-group col-12 col-md-6">
        <label for="location">Location <span class="text-danger">*</span></label>
        <input
          type="text"
          id="location"
          formControlName="location"
          class="form-control"
          placeholder="Enter location"
        />
        <div *ngIf="formControls.location.touched && formControls.location.invalid">
          <small class="text-danger" *ngIf="formControls.location.errors?.required"
            >location is required</small
          >
          <small class="text-danger" *ngIf="formControls.location.errors?.minlength"
            >Minimum length required is
            {{ formControls.location.errors.minlength.requiredLength }}</small
          >
          <small class="text-danger" *ngIf="formControls.location.errors?.maxlength"
            >Maximum length is {{ formControls.location.errors.maxlength.requiredLength }}</small
          >
        </div>
      </div>
      <div class="form-group col-12 col-md-6">
        <label for="category">Category <span class="text-danger">*</span></label>
        <input
          type="text"
          id="name"
          formControlName="category"
          class="form-control"
          placeholder="Enter category"
        />
        <div *ngIf="formControls.category.touched && formControls.category.invalid">
          <small class="text-danger" *ngIf="formControls.category.errors?.required"
            >Sub Category is required</small
          >
          <small class="text-danger" *ngIf="formControls.category.errors?.minlength"
            >Minimum length required is
            {{ formControls.category.errors.minlength.requiredLength }}</small
          >
          <small class="text-danger" *ngIf="formControls.category.errors?.maxlength"
            >Maximum length is {{ formControls.category.errors.maxlength.requiredLength }}</small
          >
        </div>
      </div>

      <div class="form-group col-12 col-md-6">
        <label for="name"> Shop Name <span class="text-danger">*</span></label>
        <input
          type="text"
          id="name"
          formControlName="shopName"
          class="form-control"
          placeholder="Enter shop name"
        />
        <div *ngIf="formControls.shopName.touched && formControls.shopName.invalid">
          <small class="text-danger" *ngIf="formControls.shopName.errors?.required"
            >Shop name is required</small
          >
          <small class="text-danger" *ngIf="formControls.shopName.errors?.minlength"
            >Minimum length required is
            {{ formControls.shopName.errors.minlength.requiredLength }}</small
          >
          <small class="text-danger" *ngIf="formControls.shopName.errors?.maxlength"
            >Maximum length is {{ formControls.shopName.errors.maxlength.requiredLength }}</small
          >
        </div>
      </div>
      <div class="form-group col-12 col-md-6">
        <label for="email">Email Address </label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter email"
          formControlName="email"
        />
      </div>

      <div class="form-group col-12 col-md-6">
        <label for="phone">Phone </label>
        <input
          type="text"
          id="phone"
          formControlName="phone"
          class="form-control"
          placeholder="Enter phone number"
        />
      </div>
      <div class="form-group col-12 col-md-6">
        <label for="description"> Description </label>
        <textarea
          type="text"
          id="description"
          formControlName="description"
          class="form-control"
          placeholder="Enter description here"
        ></textarea>
      </div>
    </div>
  </div>
</form>
