<div class="card mt-4">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col order-1 order-sm-0 d-flex align-items-center">
        <button class="btn btn-primary d-flex align-items-center" title="Back" routerLink="../">
          <span class="min-width-18px">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </span>
          <span class="text d-none d-sm-block">Back</span>
        </button>
        <app-search
          class="ml-3"
          [searchValue]="searchValue"
          (search)="onSearch()"
          (searchChange)="onSearchChange($event)"
        ></app-search>
      </div>

      <div class="col-md order-0 order-md-1">
        <h2 class="text-center">SOS Helpline Numbers</h2>
      </div>
      <div class="col-sm col-md order-2 mt-2 mt-sm-0">
        <ng-template [ngxPermissionsOnly]="permissionList.canAddContacts">
          <button
            class="btn btn-primary btn-ripple float-right rounded-pill d-flex align-items-center"
            title="Click to add SOS Helpline Number"
            routerLink="./new_helpSOS"
          >
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span class="d-none d-sm-block ml-1">Add</span>
          </button>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="card-body p-0">
    <app-ag-grid
      [rowData]="sos"
      [columnDefs]="columnDefs"
      [defaultColumnDefs]="defaultColumDefs"
      [noRowsOverlayComponentParams]="noRowsOverlayComponentParams"
      [deleteModelContent]="deleteModelContent"
      (gridReady)="onGridReady($event)"
      (floatingFilter)="onFilterColumn($event)"
      [stateName]="'sosState'"
      [hasEdit]="true"
      [hasDelete]="true"
      [canDelete]="permissionList.canDeleteContact"
      [canEdit]="permissionList.canEditContact"
      (editRow)="onEdit($event)"
      (deleteRow)="onDelete($event)"
    >
    </app-ag-grid>
    <app-pagination
      [pagination]="pagination"
      (pageChange)="onPageChange($event)"
      (perPageChange)="onPerPageChange($event)"
    >
    </app-pagination>
  </div>
</div>
