<div class="mt-3 row">
  <div class="col-md-8 col-lg-7">
    <form [formGroup]="changePwdForm" (submit)="onChangePwd()" class="mt-4" autocomplete="off">
      <div class="row">
        <div class="col order-1 order-sm-0">
          <button
            class="btn btn-primary d-flex align-items-center"
            type="button"
            title="Back"
            [disabled]="isLoading"
            routerLink="/profile"
          >
            <span class="min-width-18px">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </span>
            <span class="text ml-1 ml-sm-o d-none d-sm-block">Back</span>
          </button>
        </div>
        <div class="col-12 col-sm-auto order-0 order-sm-1">
          <h2 class="text-center">Change Password</h2>
        </div>
        <div class="col order-2 text-right">
          <app-loading-button
            [disabled]="changePwdForm.invalid"
            [isLoading]="isLoading"
            [title]="'Click to change password'"
            [buttonText]="'Change'"
            [loadingText]="'Updating...'"
            [hideTextOnSM]="true"
            [buttonIconClass]="'fas fa-check'"
          >
          </app-loading-button>
        </div>
      </div>
      <div class="alert alert-warning" *ngIf="hasValidationError">
        <p>Please fix the following</p>
        <ul>
          <li *ngFor="let validationError of validationErrors">{{ validationError }}</li>
        </ul>
      </div>
      <div class="form-group">
        <label for="currentPassword">Current Password</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-lock" aria-hidden="true"></i>
            </div>
          </div>
          <input
            [type]="isShowCurrentPassword ? 'text' : 'password'"
            class="form-control"
            id="currentPassword"
            placeholder="Enter Current Password"
            formControlName="currentPassword"
            autocomplete="current-password"
          />
          <div class="input-group-append">
            <i
              class="input-group-text fa"
              [ngClass]="isShowCurrentPassword ? 'fa-eye-slash' : 'fa-eye'"
              (click)="changeCurrentPasswordInput()"
              aria-hidden="true"
              data-toggle="tooltip"
              [title]="isShowCurrentPassword ? 'Hide password' : 'Show password'"
            ></i>
          </div>
        </div>
        <div *ngIf="formControls.currentPassword.touched && formControls.currentPassword.invalid">
          <small class="text-danger" *ngIf="formControls.currentPassword.errors?.required"
            >Current password is required</small
          >
        </div>
        <div *ngIf="formControls.currentPassword.errors?.minlength">
          <small class="text-danger">Password must be 6 characters long</small>
        </div>
      </div>
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-lock" aria-hidden="true"></i>
            </div>
          </div>
          <input
            [type]="isShowNewPassword ? 'text' : 'password'"
            class="form-control"
            id="newPassword"
            placeholder="Enter New Password"
            formControlName="newPassword"
            autocomplete="new-password"
          />
          <div class="input-group-append">
            <i
              class="input-group-text fa"
              [ngClass]="isShowNewPassword ? 'fa-eye-slash' : 'fa-eye'"
              (click)="changeNewPasswordInput()"
              aria-hidden="true"
              data-toggle="tooltip"
              [title]="isShowNewPassword ? 'Hide password' : 'Show password'"
            ></i>
          </div>
        </div>
        <div *ngIf="formControls.newPassword.touched && formControls.newPassword.invalid">
          <small class="text-danger" *ngIf="formControls.newPassword.errors?.required"
            >New password is required</small
          >
          <small
            class="text-danger"
            *ngIf="formControls.newPassword.errors?.minlength; else passwordError"
            >New password must be 6 characters long</small
          >
        </div>
        <small
          class="text-danger"
          *ngIf="
            formControls.newPassword.valid &&
            formControls.newPassword.value &&
            changePwdForm.errors?.changePassword
          "
          >Current password and new password should not be same.</small
        >
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-lock" aria-hidden="true"></i>
            </div>
          </div>
          <input
            [type]="isShowConfirmPassword ? 'text' : 'password'"
            class="form-control"
            id="confirmPassword"
            placeholder="Enter Confirm Password"
            formControlName="confirmPassword"
            autocomplete="new-password"
          />
          <div class="input-group-append">
            <i
              class="input-group-text fa"
              [ngClass]="isShowConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"
              (click)="changeConfirmPasswordInput()"
              aria-hidden="true"
              data-toggle="tooltip"
              [title]="isShowConfirmPassword ? 'Hide password' : 'Show password'"
            ></i>
          </div>
        </div>
        <div *ngIf="formControls.confirmPassword.touched && formControls.confirmPassword.invalid">
          <small class="text-danger" *ngIf="formControls.confirmPassword.errors?.required"
            >Confirm password is required</small
          >
        </div>
        <small
          class="text-danger"
          *ngIf="formControls.confirmPassword.value && changePwdForm.errors?.mismatch"
          >Password and confirm password must be match.</small
        >
      </div>
    </form>
  </div>
</div>
