<div class="card mt-4">
  <div class="card-header">
    <div class="row">
      <div class="col order-1 order-sm-0">
        <button
          class="btn btn-primary d-flex align-items-center"
          type="button"
          title="Back"
          routerLink="../"
        >
          <span class="min-width-18px">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </span>
          <span class="text ml-1 ml-sm-o d-none d-sm-block">Back</span>
        </button>
      </div>
      <div class="col-12 col-sm-auto order-0 order-sm-1">
        <h2 class="text-center">Call Tag</h2>
      </div>
      <div class="col order-2 text-right"></div>
    </div>
  </div>

  <div class="row p-2" *ngIf="callTagDetails">
    <div class="form-group col-12 col-md-4 mt-3">
      <h5 class="font-weight-bold">
        Category : <span class="font-weight-normal">{{ callTagDetails.category_name }}</span>
      </h5>
    </div>
    <div class="form-group col-12 col-md-4 mt-3 text-center">
      <h5 class="font-weight-bold">
        Sub Category :
        <span class="font-weight-normal">{{ callTagDetails.sub_category_name }}</span>
      </h5>
    </div>
    <div class="form-group col-12 col-md-4 mt-3 text-right">
      <h5 class="font-weight-bold">
        Mobile Number :
        <span class="font-weight-normal">{{
          callTagDetails.contact_number ? callTagDetails.contact_number : '_'
        }}</span>
      </h5>
    </div>
    <div class="form-group col-12">
      <label class="font-weight-bold" for="question"> Question </label>
      <textarea
        readonly
        type="text"
        id="question"
        [(ngModel)]="question"
        class="form-control form-control-lg"
      ></textarea>
    </div>
    <div class="form-group col-12">
      <label class="font-weight-bold" for="answer"> Answer </label>
      <textarea
        readonly
        type="text"
        [(ngModel)]="answer"
        id="answer"
        class="form-control form-control-lg"
      ></textarea>
    </div>
  </div>
</div>
