<div [class]="helpDesk ? 'm-1 d-flex justify-content-between' : 'm-1 d-flex justify-content-end'">
  <u style="color: blue; cursor: pointer" *ngIf="helpDesk" (click)="onHelpSOS()"
    >Click here to Update/View Help Line SOS Phone Numbers</u
  >
  <button
    class="btn btn-primary mx-1 fitpage-button"
    (click)="sizeToFit()"
    title="Fit to screen"
    *ngIf="isAutoSize; else elseBlock"
  >
    <i class="fas fa-expand-arrows-alt"></i>
  </button>
  <ng-template #elseBlock>
    <button
      class="btn btn-primary mx-1 fitpage-button"
      (click)="autoSizeAll()"
      title="Fit to content"
    >
      <i class="fas fa-exchange-alt"></i>
    </button>
  </ng-template>
</div>

<ag-grid-angular
  style="width: 100%"
  domLayout="autoHeight"
  class="ag-theme-alpine"
  [rowData]="rowData"
  [getRowClass]="getRowClass"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [frameworkComponents]="frameworkComponents"
  [context]="context"
  [loadingOverlayComponent]="loadingOverlayComponent"
  [noRowsOverlayComponent]="noRowsOverlayComponent"
  [noRowsOverlayComponentParams]="noRowsOverlayComponentParams"
  [tooltipShowDelay]="0"
  [tooltipMouseTrack]="true"
  (gridReady)="onGridReady($event)"
  (firstDataRendered)="onFirstDataRendered($event)"
  (sortChanged)="onSortChanged($event)"
  (cellDoubleClicked)="onCellDoubleClicked($event)"
  [rowStyle]="rowStyle"
>
</ag-grid-angular>
