$text-primary: #0d6efd;
$green: #15803d;
$purple: #a020f0;
$notification-background: #73818f;
$unread-notification-background: #e0eeff;
$scroll-bar: #fbbf24;
$avatar: #fcd34d;

$primary: #303f9f;
$primary-light: #c5cae9;
$secondary: #facc15;
$white: #ffffff;
$black: #212121;
$danger: #f44336;
$grey-secondary: #757575;
$profile-edit: #292929;
$pink: #ff7e7e;
$red: #ff4848;
$secondary-light: #f1c40f;
$select-border: #7885d6;
$placeholder: #333;
$input-border: #ccc;
$lightshade: #ddd;
$greylightshade: #eee;
$greymediumshade: #999;
$datepickerrange: #ebf4f8;
