<div class="card mt-4">
  <ul class="nav nav-tabs nav-fill" role="tablist">
    <li class="nav-item">
      <a
        (click)="selected = 'one'"
        class="nav-link"
        role="tab"
        aria-controls="one"
        data-toggle="tab"
        [class.active]="selected === 'one'"
        >Abandoned Calls</a
      >
    </li>
    <li class="nav-item">
      <a
        (click)="selected = 'two'"
        class="nav-link"
        role="tab"
        aria-controls="two"
        data-toggle="tab"
        [class.active]="selected === 'two'"
        >Call back list</a
      >
    </li>
    <li class="nav-item">
      <a
        (click)="selected = 'three'"
        class="nav-link"
        role="tab"
        aria-controls="three"
        data-toggle="tab"
        [class.active]="selected === 'three'"
        >Called back list</a
      >
    </li>
  </ul>
  <div class="tab-content">
    <div *ngIf="selected === 'one'" role="tabpanel" class="tab-pane active" id="one">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-sm col-md order-1 order-md-0">
              <app-search
                [searchValue]="searchValue"
                (search)="onSearch()"
                (searchChange)="onSearchChange($event)"
              ></app-search>
            </div>
            <div class="col-md order-0 order-md-1">
              <h2 class="text-center">Abandoned Calls List</h2>
            </div>
            <div class="col-sm col-md order-2 mt-2 mt-sm-0"></div>
          </div>
        </div>
        <div class="card-body p-0">
          <div class="row m-0 mt-1">
            <div class="col-12 col-md-6 m-0">
              <div class="row d-flex align-items-center">
                <div class="col-4">
                  <label for="name"> From Date </label>
                </div>
                <div class="col-8">
                  <input
                    id="date-input"
                    type="datetime-local"
                    placeholder="From Date"
                    class="form-control"
                    [(ngModel)]="fromDate"
                    (change)="handleFilter('from', $event.target.value)"
                    [max]="maxDate"
                    [min]="minDate"
                  />
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 m-0">
              <div class="row d-flex align-items-center">
                <div class="col-4">
                  <label for="name"> To Date </label>
                </div>
                <div class="col-8">
                  <input
                    id="date-input"
                    type="datetime-local"
                    placeholder="From Date"
                    class="form-control"
                    [(ngModel)]="toDate"
                    (change)="handleFilter('to', $event.target.value)"
                    [max]="maxDate"
                    [min]="minDate"
                  />
                  <div *ngIf="toDateValidator">
                    <small class="text-danger">To date should be greater than from date</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <app-ag-grid
            [rowData]="abandonedCalls"
            [columnDefs]="columnDefs"
            [defaultColumnDefs]="defaultColumDefs"
            [noRowsOverlayComponentParams]="noRowsOverlayComponentParams"
            (gridReady)="onGridReady($event)"
            (floatingFilter)="onFilterColumn($event)"
            [stateName]="'abandonedCallsState'"
            [hasEdit]="false"
            [hasDelete]="false"
            [hasTag]="true"
            (callTag)="onTagCall($event)"
          >
          </app-ag-grid>
          <app-pagination
            [pagination]="pagination"
            (pageChange)="onPageChange($event)"
            (perPageChange)="onPerPageChange($event)"
          >
          </app-pagination>
        </div>
      </div>
    </div>
    <div *ngIf="selected === 'two'" role="tabpanel" class="tab-pane active" id="two">
      <app-callback-list></app-callback-list>
    </div>
    <div *ngIf="selected === 'three'" role="tabpanel" class="tab-pane active" id="two">
      <app-calledback-list></app-calledback-list>
    </div>
  </div>
</div>
