<div class="card p-0 p-sm-4 shadow border-primary">
  <div class="card-body pt-0">
    <form [formGroup]="logInForm" autocomplete="off">
      <div class="text-center mb-2">
        <img src="assets/img/brand/brand-logo.png" class="brand-logo" alt="Brand logo" />
      </div>
      <div class="form-group">
        <label for="username">Email Address</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
          </div>
          <input
            type="email"
            class="form-control"
            id="username"
            placeholder="example@example.com"
            formControlName="email"
            autocomplete="username"
          />
        </div>
        <div *ngIf="formControls.email.touched && formControls.email.invalid">
          <small class="text-danger" *ngIf="formControls.email.errors?.required"
            >Email is required</small
          >
          <small class="text-danger" *ngIf="formControls.email.errors?.pattern"
            >Enter a valid Email</small
          >
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-lock" aria-hidden="true"></i>
            </div>
          </div>
          <input
            [type]="isShowPassword ? 'text' : 'password'"
            class="form-control"
            id="password"
            placeholder="Password"
            formControlName="password"
            autocomplete="current-password"
          />
          <div class="input-group-append">
            <i
              class="input-group-text fa"
              [ngClass]="isShowPassword ? 'fa-eye-slash' : 'fa-eye'"
              (click)="changeInputType()"
              aria-hidden="true"
              data-toggle="tooltip"
              [title]="isShowPassword ? 'Hide password' : 'Show password'"
            ></i>
          </div>
        </div>
        <div *ngIf="formControls.password.touched && formControls.password.invalid">
          <small class="text-danger" *ngIf="formControls.password.errors?.required"
            >Password is required</small
          >
        </div>
      </div>
      <div class="row">
        <app-loading-button
          class="px-4 mx-auto"
          [disabled]="logInForm.invalid"
          [buttonText]="'Log In'"
          [isLoading]="isLoading"
          [loadingText]="'Logging In'"
          [title]="'Click to login in'"
          (buttonClick)="onLogIn()"
        >
        </app-loading-button>
      </div>
      <div class="row">
        <a class="mt-2 mx-auto" title="Go to forgot password page" routerLink="../forgot_password">
          Forgot password?
        </a>
      </div>
    </form>
  </div>
</div>
