<div class="card p-4 shadow border-primary">
  <div class="card-body">
    <form [formGroup]="resetPwdForm" (submit)="onResetPwd()" autocomplete="off">
      <div class="alert alert-warning" *ngIf="hasValidationError">
        <p>Please fix the following</p>
        <ul>
          <li *ngFor="let validationError of validationErrors">{{ validationError }}</li>
        </ul>
      </div>
      <div class="text-center">
        <img src="assets/img/brand/brand-logo.png" alt="Brand logo" />
      </div>
      <h2 class="mt-2 text-center">Reset Password</h2>
      <div class="form-group">
        <label for="newPassword">Password</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-lock" aria-hidden="true"></i>
            </div>
          </div>
          <input
            [type]="isShowPassword ? 'text' : 'password'"
            class="form-control"
            id="newPassword"
            placeholder="Enter Password"
            formControlName="password"
            autocomplete="new-password"
          />
          <div class="input-group-append">
            <i
              class="input-group-text fa"
              [ngClass]="isShowPassword ? 'fa-eye-slash' : 'fa-eye'"
              (click)="changePasswordInput()"
              aria-hidden="true"
              data-toggle="tooltip"
              [title]="isShowPassword ? 'Hide password' : 'Show password'"
            ></i>
          </div>
        </div>
        <div *ngIf="formControls.password.touched && formControls.password.invalid">
          <small class="text-danger" *ngIf="formControls.password.errors?.required"
            >Password is required</small
          >
        </div>
        <div *ngIf="formControls.password.errors?.minlength">
          <small class="text-danger">Password must be 6 characters long</small>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-lock" aria-hidden="true"></i>
            </div>
          </div>
          <input
            [type]="isShowConfirmPassword ? 'text' : 'password'"
            class="form-control"
            id="confirmPassword"
            placeholder="Enter Confirm Password"
            formControlName="confirmPassword"
            autocomplete="new-password"
          />
          <div class="input-group-append">
            <i
              class="input-group-text fa"
              [ngClass]="isShowConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"
              (click)="changeConfirmPasswordInput()"
              aria-hidden="true"
              data-toggle="tooltip"
              [title]="isShowConfirmPassword ? 'Hide password' : 'Show password'"
            ></i>
          </div>
        </div>
        <div *ngIf="formControls.confirmPassword.touched && formControls.confirmPassword.invalid">
          <small class="text-danger" *ngIf="formControls.confirmPassword.errors?.required"
            >Confirm Password is required</small
          >
        </div>
        <small
          class="text-danger"
          *ngIf="formControls.confirmPassword.value && resetPwdForm.errors?.mismatch"
          >Password and confirm password must be match.</small
        >
      </div>

      <div class="row">
        <app-loading-button
          class="mx-auto"
          [disabled]="resetPwdForm.invalid"
          [isLoading]="isLoading"
          [buttonText]="'Update Password'"
          [title]="'Click to update password'"
          [loadingText]="'Updating...'"
        >
        </app-loading-button>
      </div>
    </form>
  </div>
</div>
